@import "variable";

.pageContentwrap {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 119px;
    padding-bottom: 105px;
    p {
        font-family: $font_noto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px; 
        color: $color_black;
    }
}


@include media('tb') {
    .pageContentwrap { 
        padding-top: 80px;
        padding-bottom: 105px;
        p { 
            font-size: 15px;
            line-height: 23px;  
        }
    }
}

@include media('sp') {

}